/* General styles */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header section with a large background image */
/* Header section with a full-screen background image */
.header {
    height: 50rem;
    /* Full viewport height */
    width: 79rem;
    /* Full viewport width */
    background-image: url('./image.png');
    /* Path to your image */
    background-size: cover;
    /* Makes sure the image covers the entire header area */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    position: relative;
    /* Makes the navbar stay on top of the image */
}

.img {
    height: 50vh;
    /* Full viewport height */
    width:100%;
}

.logo {
    height: 7rem;
    /* Full viewport height */
    width: 1rem;
    /* Full viewport width */
    background-image: url('./logo-transparent-pdf-1.png');
    /* Path to your image */
    background-size: cover;
    /* Makes sure the image covers the entire header area */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    position: relative;
    /* Makes the navbar stay on top of the image */
}


/* Navbar styling (on top of the image) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0rem;
    position: absolute;
    /* Positions the navbar on top of the image */
    top: -4.5rem;
    left: 0;
    width: 78rem;
    /* Ensures the navbar spans the full width of the header */

    z-index: 10;
    /* Ensures the navbar stays above the image */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li {
    color: #333;
    cursor: pointer;
}

.call-button {
    background-color: #6c63ff;
    color: white;
    padding: 0rem 2rem;
    margin-right: 0rem;
    border-radius: 20rem;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    color: white;
}


.overview-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #f8f8f8;
    width: 76rem;

}

.overview-text {
    width: 79rem;
}

.overview-text h3 {
    color: #6b5b95;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.overview-text blockquote {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 2rem;
    padding-left: 2 rem;
}

.overview-text p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5rem;
}

.overview-stats {

    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.overview-stats1 {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.stat {
    text-align: center;
}

.stat h2 {
    font-size: 2.5rem;
    color: #333;
}

.stat p {
    font-size: 1rem;
    color: #6b5b95;
}