/* General styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Header section with a large background image */
/* Header section with a full-screen background image */
.header {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-image: url('./image.png'); /* Path to your image */
    background-size: cover; /* Makes sure the image covers the entire header area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    position: relative; /* Makes the navbar stay on top of the image */
  }
 .img{
    height: 100vh; /* Full viewport height */
    width: 100vw; 
  }
  .logo{
    height: 14.8vh; /* Full viewport height */
    width: 8vw; /* Full viewport width */
    background-image: url('./logo-transparent-pdf-1.png'); /* Path to your image */
    background-size: cover; /* Makes sure the image covers the entire header area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    position: relative; /* Makes the navbar stay on top of the image */
  }
  
  
  /* Navbar styling (on top of the image) */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: absolute; /* Positions the navbar on top of the image */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the navbar spans the full width of the header */
    
    z-index: 10; /* Ensures the navbar stays above the image */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    color: #333;
    cursor: pointer;
  }
  
  .call-button {
    background-color: #6c63ff;
    color: white;
    padding: 8px 16px;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
  }


  .overview-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .overview-text {
    width: 60%;
  }
  
  .overview-text h3 {
    color: #6b5b95;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .overview-text blockquote {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .overview-text p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
  }
  
  .overview-stats {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .overview-stats1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .stat {
    text-align: center;
  }
  
  .stat h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .stat p {
    font-size: 1rem;
    color: #6b5b95;
  }
  
  