h1{
    text-align: left;
    color: blue;
    font-size: 25px;
    justify-content: center;
}

.overview-1st-para{
    color: black;
    justify-content: center;
}

.overview-2nd-para{
    color: cadetblue;
}